In [76]:
! pip install pytesseract

Requirement already satisfied: pytesseract in /Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages (0.3.4)
Requirement already satisfied: Pillow in /Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages (from pytesseract) (6.2.1)

In [1]:
from PIL import Image
from pytesseract import *
import re
import cv2

In [2]:
img = Image.open('ocr_test.jpg')

In [3]:
text = pytesseract.image_to_string(img, lang = 'kor+eng')
print(text)
#text

DETAIL INFORMATION





머깨너비

SIZE 1바0(단위:00)



사이즈(5126)      055       066       067
흥         Jheaet                       어깨너비      37.5      38.6      39.4
멀               가슴둘레       88.3       93.6       98.4

미
소매길이        61        617       64.5
총장        67.3       67.9       68.6
|쿠               - 사이즈는 재는 방법에 따라 1~2em 정도 오차가 있을수 있습니다.

SVAJK82                                                                     DETAIL CHECK

더블 브레스티드 자켓

COLOR — BEIGE(25)/D-NAVY(47)

SIZE       055 /066 /067

FABRIC 겉감:폴리에스터 96%+폴리우레탄 4%
안감: 폴리에스터 100

eK age

- 뒤집어 단독세탁하십시오.

- 세탁시 이염될 우려가 있 으니 주의 바랍니다.

- 모든 의류의 첫 세탁은 드라이클리닝을 권장합니다.

- 데님, 워싱, 컬러가 있는 모든 제품들은 단독 세탁을 권장하며
세탁 부주의로 인해 훼손이 있을 경우 교환, 반품이 불가하오니
참고해주세요.











두께감
(Thickness)                FS (Thin)           85 (Moderate)          £5 (Thick)
비침                                로
(See through)                        없음(006)                    살짝(나네6)                  비침(1060)
촉                                                                 |
(Elastictiy)                               #548 (Soft)                     (Moderate)                       TBE (Prick)
핏감                                                               .
(Lining)                        타이트(0914                 기본(5009 fit)                 22 (Loose)
신축성                                                              =
(Elasticity)                        없음(0006)                 5 (Moderate)                8(High)
on                                ㆍ
(Lining)                         있음(1060)                     없음(0006)
원산지        베트남                                     CHECK IT
Azdae  2019년 028
제조자        (주)동광인터내셔날                          아그 One ©    Sper TS OnRP HT ere

품질보증기간 구입일로부터 1년

AIS 책임자    (주)동광인터내셔날/ 1588-2724

단, 봉제 불량은 1년 경과 후에도 무상 수리 진행됩니다:
소비자 부주의로 인한         반품 처리가 불가하며 수리 가
능시에는 Sa 수리로 진행됩니디
모델컷의 컬러는 자연광이나 조명의 영향으로 실제와 다소 다를
수 있습니다. 꼭 디테일 컬러와 AMS 확인해주세요.

In [5]:
size_table = re.split('\n',text)
size_table

['DETAIL INFORMATION',
 '',
 ' ',
 '',
 ' ',
 '',
 '머깨너비',
 '',
 'SIZE 1바0(단위:00)',
 '',
 ' ',
 '',
 '사이즈(5126)      055       066       067',
 '흥         Jheaet                       어깨너비      37.5      38.6      39.4',
 '멀               가슴둘레       88.3       93.6       98.4',
 '',
 '미',
 '소매길이        61        617       64.5',
 '총장        67.3       67.9       68.6',
 '|쿠               - 사이즈는 재는 방법에 따라 1~2em 정도 오차가 있을수 있습니다.',
 '',
 'SVAJK82                                                                     DETAIL CHECK',
 '',
 '더블 브레스티드 자켓',
 '',
 'COLOR — BEIGE(25)/D-NAVY(47)',
 '',
 'SIZE       055 /066 /067',
 '',
 'FABRIC 겉감:폴리에스터 96%+폴리우레탄 4%',
 '안감: 폴리에스터 100',
 '',
 'eK age',
 '',
 '- 뒤집어 단독세탁하십시오.',
 '',
 '- 세탁시 이염될 우려가 있 으니 주의 바랍니다.',
 '',
 '- 모든 의류의 첫 세탁은 드라이클리닝을 권장합니다.',
 '',
 '- 데님, 워싱, 컬러가 있는 모든 제품들은 단독 세탁을 권장하며',
 '세탁 부주의로 인해 훼손이 있을 경우 교환, 반품이 불가하오니',
 '참고해주세요.',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 '두께감',
 '(Thickness)                FS (Thin)           85 (Moderate)          £5 (Thick)',
 '비침                                로',
 '(See through)                        없음(006)                    살짝(나네6)                  비침(1060)',
 '촉                                                                 |',
 '(Elastictiy)                               #548 (Soft)                     (Moderate)                       TBE (Prick)',
 '핏감                                                               .',
 '(Lining)                        타이트(0914                 기본(5009 fit)                 22 (Loose)',
 '신축성                                                              =',
 '(Elasticity)                        없음(0006)                 5 (Moderate)                8(High)',
 'on                                ㆍ',
 '(Lining)                         있음(1060)                     없음(0006)',
 '원산지        베트남                                     CHECK IT',
 'Azdae  2019년 028',
 '제조자        (주)동광인터내셔날                          아그 One ©    Sper TS OnRP HT ere',
 '',
 '품질보증기간 구입일로부터 1년',
 '',
 'AIS 책임자    (주)동광인터내셔날/ 1588-2724',
 '',
 '단, 봉제 불량은 1년 경과 후에도 무상 수리 진행됩니다:',
 '소비자 부주의로 인한         반품 처리가 불가하며 수리 가',
 '능시에는 Sa 수리로 진행됩니디',
 '모델컷의 컬러는 자연광이나 조명의 영향으로 실제와 다소 다를',
 '수 있습니다. 꼭 디테일 컬러와 AMS 확인해주세요.']

In [6]:
matchers = ['사이즈(','어깨너비','가슴둘레','소매길이','출장']
size = [s for s in size_table if any(xs in s for xs in matchers)]
size

['사이즈(5126)      055       066       067',
 '흥         Jheaet                       어깨너비      37.5      38.6      39.4',
 '멀               가슴둘레       88.3       93.6       98.4',
 '소매길이        61        617       64.5']

In [7]:
size[0]

'사이즈(5126)      055       066       067'

In [8]:
size[1][57:]

'  38.6      39.4'

In [9]:
size[2][25:]

'  88.3       93.6       98.4'

In [10]:
size[3][42:]

''

In [13]:
size[4]

IndexError: list index out of range

In [12]:
size2 = []

size2.append(size[0])
size2.append(size[1][57:])
size2.append(size[2][25:])
size2.append(size[3][42:])
size2.append(size[4])

size2

IndexError: list index out of range

In [67]:
for i in range(len(size2)):
    size2[i] = re.sub('     ',' ', size2[i])
    size2[i] = re.sub('    ',' ', size2[i])
    size2[i] = re.sub('   ',' ', size2[i])
    size2[i] = re.sub('  ',' ', size2[i])
    size2[i] = re.sub(' ',' ', size2[i])
    
size2

['사이즈(526) 055 066 067',
 '어깨너비 37.5 38.6 39.4',
 '가슴둘레 88.3 93.6 98.4',
 '소매길이 61 617 64.5',
 '출장 67.3 67.9 68.6']

In [68]:
size3 = []

for i in range(len(size2)):
    size3.append(size2[i].split(' '))
    
size3

[['사이즈(526)', '055', '066', '067'],
 ['어깨너비', '37.5', '38.6', '39.4'],
 ['가슴둘레', '88.3', '93.6', '98.4'],
 ['소매길이', '61', '617', '64.5'],
 ['출장', '67.3', '67.9', '68.6']]

In [69]:
import numpy as np
size4 = np.array(size3)
size4

array([['사이즈(526)', '055', '066', '067'],
       ['어깨너비', '37.5', '38.6', '39.4'],
       ['가슴둘레', '88.3', '93.6', '98.4'],
       ['소매길이', '61', '617', '64.5'],
       ['출장', '67.3', '67.9', '68.6']], dtype='<U8')

In [70]:
size4.T

array([['사이즈(526)', '어깨너비', '가슴둘레', '소매길이', '출장'],
       ['055', '37.5', '88.3', '61', '67.3'],
       ['066', '38.6', '93.6', '617', '67.9'],
       ['067', '39.4', '98.4', '64.5', '68.6']], dtype='<U8')

In [71]:
import pandas as pd

In [72]:
df = pd.DataFrame(size4.T)
df

          0     1     2     3     4
0  사이즈(526)  어깨너비  가슴둘레  소매길이    출장
1       055  37.5  88.3    61  67.3
2       066  38.6  93.6   617  67.9
3       067  39.4  98.4  64.5  68.6

In [73]:
df.loc[[1,2,3]]

     0     1     2     3     4
1  055  37.5  88.3    61  67.3
2  066  38.6  93.6   617  67.9
3  067  39.4  98.4  64.5  68.6

In [74]:
df2 = df.loc[[1,2,3]]
df2.columns = ['사이즈', '어깨너비', '가슴둘레', '소매길이', '출장']
df2

   사이즈  어깨너비  가슴둘레  소매길이    출장
1  055  37.5  88.3    61  67.3
2  066  38.6  93.6   617  67.9
3  067  39.4  98.4  64.5  68.6

In [75]:
df2['사이즈'] = df2['사이즈'].astype(int)
df2

   사이즈  어깨너비  가슴둘레  소매길이    출장
1   55  37.5  88.3    61  67.3
2   66  38.6  93.6   617  67.9
3   67  39.4  98.4  64.5  68.6